*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
html{
    font-size: 16px;
}
:root{
    --primary-gradient: linear-gradient(135deg, #00feba, #5b548a);
    --input-bg: #ebfffc;
    --input-color: #555;
}
body{
    height: 100vh;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card{
    padding: 30px;
    background: var(--primary-gradient);
    width: 350px;
    border-radius: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.error-msg{
    text-align: left;
    font-size: .8rem;
    color: red;
    display: none;
}
.search{
    display: flex;
    justify-content: space-between;
}
.search>*{
    background: var(--input-bg);
}
.search input{
    width: 80%;
    height: 40px;
    border-radius: 30px;
    outline: 0;
    border: none;
    padding: 0 20px;
    color: var(--input-color);
}
.search-icon{
    width: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.weather{
    color: #fff;
    display: none;
}
.weather-summary{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}
.weather-summary img{
    width: 100px;
    height: 100px;
}
.more-info{
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}
.more-info img{
    height: 50px;
}
.col{
    display: flex;
    text-align: left;
    align-items: center;
    gap: 10px;
}
.col p:nth-child(2){
    font-size: .8rem;
}